@import "../../_helpers/scss/variables";

.pre-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colorLine;
  padding-top: 32px;
  padding-bottom: 32px;

  &__input_group {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__input {
    height: 38px;
    @media screen and (min-width: 481px) {
      width: 330px;
      margin-left: 10px;
    }
  }

  &__input_text {
    text-shadow: none;
  }
  
  &__btn {
    background-color: $mainBtnColor;
  }
}